/* Base */
/* ----------------------------------------------------------*/

* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  background-color: #fdfdfd;
}

h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: 400; }

/*
a         { color: #2a7ae2; text-decoration: none; }
a:hover   { color: #000; text-decoration: underline; }
a:visited { color: #205caa; }
*/

a         { color: #000; text-decoration: underline; }
a:hover   { color: #000; text-decoration: underline; }
a:visited { color: #555; }

/* Utility */

.wrap:before,
.wrap:after { content:""; display:table; }
.wrap:after { clear: both; }
.wrap {
  max-width: 800px;
  padding: 0 30px;
  margin: 0 auto;
  zoom: 1;
}

/* Layout Styles */
/* ----------------------------------------------------------*/

/* Header Styles */
/* ----------------------------------------------------------*/

.site-header {
  text-align: center;
}

.site-header .wrap {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

.site-header .site-title {
  font-size: 64px;
  display: block;

  text-decoration: underline;
}

.site-header nav {
  line-height: 50px;
}

.site-header nav a {
  text-decoration: none;
  display: inline-block;
  width: 80px;
  text-align: center;
}

/* Header Styles */
/* ----------------------------------------------------------*/

.site-footer ul {
  text-align: center;
}

.site-footer li {
  width: 80px;
  text-align: center;

  list-style: none;
  display: inline-block;
}

/* Posts Styles */
/* ----------------------------------------------------------*/

.posts li {
  list-style: none;
  margin-bottom: 20px;
}

.posts .post-header {
  line-height: 40px;
}

.posts .post-header .post-link {
  font-size: 24px;
  text-decoration: none;
}

.posts .post-header .post-date {
  color: #898989;
  float: right;
}

/* Post Styles */
/* ----------------------------------------------------------*/

.post .post-header h1 {
  display: inline-block;
  font-size: 42px;
  letter-spacing: -1.75px;
  line-height: 1;
  font-weight: 300;
}

.post .post-header .post-meta {
  color: #898989;
  float: right;
}

/* Page Styles */
/* ----------------------------------------------------------*/

.page .page-header h1 {
  display: inline-block;
  font-size: 42px;
  letter-spacing: -1.75px;
  line-height: 1;
  font-weight: 300;
}

.page .page-header .page-meta {
  color: #898989;
  float: right;
}

/* Archive Styles */
/* ----------------------------------------------------------*/

.archive li {
  list-style: none;
  line-height: 40px;
}

.archive .archive-link {
  font-size: 24px;
}

.archive .archive-date {
  color: #898989;
  float: right;
}
